# Ignore everything
/*

!.gitignore
!.gitpod.yml
!.gitpod.Dockerfile
!bc.json
!learn.json
!README.md

!/exercises
!/exercises/*

!/.breathecode
/.breathecode/**
!/.breathecode/resets
!/.breathecode/resets/**
!/.learn/assets
!/.learn/assets/**
